body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

h1 {
    margin: 0;
}

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Quicksand;
}

h1 {
    font-size: 40px;
}

li {
    margin-right: 20px;
    margin-left: 30px;
} */

/* 
a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: pink;
} */


.header-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: baseline;
    text-align: left;
}

.header-image {
    object-fit: cover;
}

.Infoodencer-title {
    font-size: 45px;
    display: absolute;
    top: 0;
    left: 40%;
    width: 30%;
    color: black;
}

.p1 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 1px;
}

.nav-container-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    height: 70px;
    width: 100%;
    color: fit-content;
    margin-top: 1px;
}

.nav-container {
    flex-direction: row;
    flex-wrap: none;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    text-decoration: none;
    color: black;

}

.nav-links {
    width: 100%;
    font-stretch: extra-expanded;
    font-size: 40px;
    text-decoration: none;
    color: black;
    width: 100%;
    margin-inline-start: 50px;
}

.three-boxes {
    font-size: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-inline-start: 50px;
}

.three-boxes-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-between;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.box {
    margin: 50px;
}

.image-container {
    position: relative;
    width: 300px;
    align-content: flex-start;
    background-color: #b6a2a2;
    padding: 20px;
    text-align: center;

}

.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, -0%);
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.fa-instagram {
    background: #e16fc6;
    color: white;

}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.fa-facebook {
    background: #1f5ada;
    color: white;
}

.social-media a:hover {
    color: #ff6600;
}

.subscribe {
    margin-top: 20px;
    text-align: center;
}

.subscribe p {
    font-size: 16px;
}

.subscribe form {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.subscribe input[type="email"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.subscribe input[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.subscribe input[type="submit"]:hover {
    background-color: #ff4500;
}